body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: #6c3ce9;
    font-size: 40px;
}

p {
    color: #333333;
    font-size: 20px;
}
.button {
    display: inline-block;
    background-color: #6c3ce9;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
}
.profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

.button:hover {
    background-color: #4b20b5;
}
